<!DOCTYPE html>
<!-- multistep form -->

<%= javascript_include_tag "jquery.easing.min" %>
<%= javascript_include_tag "phonemesswitch" %>
<%= stylesheet_link_tag "forms" %>

<form id = "header">
  <ul>
    <li><%= link_to 'View Phoneme Data', phonemes_path %></li>
    <li class="active"><%= link_to 'Enter Phoneme Data', new_phoneme_path %></li>
    <li><%= link_to 'View Speakers', speakers_path %></li>
    <li><%= link_to 'Create Speaker', new_speaker_path %></li>
    <li><%= link_to 'Query Data', phonemes_input_query_path %></li>
  </ul>
</form>
<br>
<h1>New Phoneme</h1>
<%= form_tag phonemes_path, :id => 'msform' do %>

    <% count = 0 %>

    <!-- progressbar -->
    <ul id="progressbar">
<li class="active">Speaker</li>
<% for i in 1..22 %>
    <li><%=i%></li>
<%end%>
<li>Submit</li>

</ul>
<!-- fieldsets -->
<fieldset>

  <h2 class="fs-title">Speaker</h2>
  <h3 class="fs-subtitle">Please select a speaker</h3>
  <%= label_tag :speaker %> <br>
  <%= collection_select :speaker, :speaker_id, Speaker.order(:name), :id, :name %> <br>
  <% speaker = "hi" %><br>
  <input type="button" name="next" class="next action-button" value="Next" />

</fieldset>


<% text_array = split_text_on_space('app/assets/paragraph.txt') %>
<% remove_punctuation(text_array) %>


<% @phoneme_array.each do |phoneme| %>
    <%= fields_for 'phonemes[]', phoneme do |p| %>
        <% for i in 0..0 %>
            <%= field_set_tag do %>
                <h2 class="fs-title">Word Data</h2>
                <h3 class="fs-subtitle">Input Required Phoneme and Base Data</h3>
                <ul>
                  <%= text_array[3*i] %>
                  <%= p.text_field :base, required: true, input_html: {class: "form-control"}, :class => 'form-control'  %>
                  <%= p.text_field :actual, required: true, input_html: {class: "form-control"}, :class => 'form-control' %>
                  <%= p.text_field :sequence, required: true, input_html: {class: "form-control"}, :class => 'form-control' %>
                  <%= p.hidden_field :speaker, :value => speaker %>
                  <%= text_array[3*i+1] %>
                  <%= p.text_field :base, required: true, input_html: {class: "form-control1"}, :class => 'form-control' %>
                  <%= p.text_field :actual, required: true, input_html: {class: "form-control1"}, :class => 'form-control' %>
                  <%= p.text_field :sequence, required: true, input_html: {class: "form-control1"}, :class => 'form-control' %>
                  <%= p.hidden_field :speaker, :value => speaker %>
                  <%= text_array[3*i+2] %>
                  <%= p.text_field :base, required: true, input_html: {class: "form-control2"}, :class => 'form-control' %>
                  <%= p.text_field :actual, required: true, input_html: {class: "form-control2"}, :class => 'form-control' %>
                  <%= p.text_field :sequence, required: true, input_html: {class: "form-control2"}, :class => 'form-control' %>
                  <%= p.hidden_field :speaker, :value => speaker %>
                </ul>
                <input type="button" name="previous" class="previous action-button" value="Previous" />

                <%if i < 22 %>
                    <input type="button" name="next" class="next action-button" value="Next" />
                <% end %>
                <%if i == 1 %>
                    <button id = "myBtn" class="submit action-button">Submit</button>
                <%end%>
            <%end%>

        <%end%>


    <% end%>
<%end%>

<% end %>